
.rsp-app-card {
    display: inline-block;
    max-width: 18rem;
    margin-right: .5rem;
    margin-left: .5rem;
    font-family: 'Akkurat Pro Regular';
    .card-img-top {
        width: 100%
    }
    .card-block {
        .card-title {
            font-family: 'Campton Bold';
        }
        .card-text {

        }
        .btn {

        }
    }
}
